<h1> Bonjour Symfony 3 </h1>

<h3> Bonjour {{login}} </h3> 

<hr/>

<center>
<table border = "1">
    <tr>
    {% for val in tab %}
        <td>
     {{ val }}
        </td>
{% endfor %}
    </tr>
</table>
</center>
    